<div class="menuriba">
    <div class="logo"> <img src="/matkaklubi/klubilogo.png" alt="" width="50px"> HIKING<br>CLUB</div>

    <div class="menu">
       <ul> 
           <li><a href="/"> Esileht</a></li> <li>Test</li> <li> <a href="/kontakt"> Kontakt</a></li> <li>Matkad</li>
        </ul>
    </div>