<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Matkaklubi</title>
    
</head>
<body>
    <% include ../partials/header.ejs %>
        <div class="paiskonteiner">
            <div class="container">
        

        <% include ../partials/menu.ejs %>    
    </div>

    <div class="row tiitliriba">
        <div class="pealkirjad col-sm-6">
        <h2>Liiguta ennast</h2>

        <h1>Tule matkama</h1>
        <h3>Liitu meiega nädalavahetuseks Eesti looduses</h3>
        <button>Võta ühendust</button>
        </div>

        <div class="pealispilt d-none d-xl-block col-sm-6 ">Siia tuleb ümmargune pilt</div>


    </div>
    </div>
</div>
    

    <div class="container info">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card">
                <img class="card-img-top" src="./matkaklubi/Hills.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Retk Munamäele
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, voluptates veniam? Earum amet soluta beatae at sunt minima eligendi reprehenderit error commodi. Voluptatibus ipsam architecto inventore dignissimos quaerat, sed esse.</p>
                    <a href="/registreeru/?matk=1" class="btn btn-primary">Registreeru</a>

                </div>
              </div></div>
              <div class="col-sm-6 col-lg-4">
                  <div class="card">
                    <img class="card-img-top" src="./matkaklubi/Hills.png" alt="">
                    <div class="card-body">
                <h4 class="card-title">Kaks</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <a href="/registreeru/2" class="btn btn-primary">Registreeru</a>
              </div></div></div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="./matkaklubi/Hills.png" alt="">
                    <div class="card-body">
                <h4 class="card-title">Kolm</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <a href="/registreeru/3" class="btn btn-primary">Registreeru</a>
              </div></div>
              </div> 
            </div>
        </div>

    </div>
</body>
</html>