<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Matkaklubi – Registreerumine</title>
    
</head>
<body>
    <% include ../partials/header.ejs %>
    
            <div class="container">
        <div class="menuriba">
        <div class="logo"> <img src="./matkaklubi/klubilogo.png" alt="" width="50px"> HIKING<br>CLUB</div>

        <div class="menu">
           <ul> 
               <li>HOME</li> <li>UPCOMING TREKS</li> <li>TREK FOR FAMILY</li> <li>CONTACT US</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="#" method="GET">
                <div class="form-group">
                    <label for="registreerujaEmail">Email</label>
                    <input type="email" class="form-control" name="registreerujaEmail" id="registreerujaEmail" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="registreerujaNimi">Nimi</label>
                    <input type="text" class="form-control" name="registreerujaNimi" id="registreerujaNimi">
                </div>
                <div class="form-group">
                    <label for="registreerujaMarkus">Märkus</label>
                    <textarea class="form-control" rows="3" name="registreerujaMarkus" id="registreerujaMarkus"></textarea>

                </div>
                <input type="submit" class="btn btn-primary" value="Registreeru">
            </form>
        </div>
    </div>
</div>

</body>

</html>