<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Matkaklubi – Registreerumine</title>
    
</head>
<body>
    <% include ../partials/header.ejs %>
    
            <div class="container">
        <div class="menuriba">
        <div class="logo"> <img src="./matkaklubi/klubilogo.png" alt="" width="50px"> HIKING<br>CLUB</div>

        <div class="menu">
           <ul> 
               <li>HOME</li> <li>UPCOMING TREKS</li> <li>TREK FOR FAMILY</li> <li>CONTACT US</li>
            </ul>
        </div>

    <p></p>

    
        <div class="row">
            Siia tuleb registreerumise vorm.
        </div>

    </div>
</body>
</html>